<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bingguai/bingguai_bing1.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,128},{27,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,49}</string>
			</dict>
			<key>bingguai/bingguai_bing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,282},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>bingguai/bingguai_shenti.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,128}</string>
			</dict>
			<key>bingguai/bingguai_tou.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{60,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,63}</string>
			</dict>
			<key>bingguai/bingguai_xuehua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,113},{26,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,21}</string>
			</dict>
			<key>bingguai/bingguai_xuehua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,0},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>bingguai/bingguai_xuehua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,35},{36,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,27}</string>
			</dict>
			<key>bingguai/bingguai_xuehua4.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>bingguai/bingguai_yanjing.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,71},{42,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,23}</string>
			</dict>
			<key>bingguai/bingguai_yanjing_banzheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,113},{42,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,23}</string>
			</dict>
			<key>bingguai/bingguai_yanjing_biyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,71},{42,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,23}</string>
			</dict>
			<key>bingguai/bingguai_yanjing_ku.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,35},{42,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,23}</string>
			</dict>
			<key>bingguai/bingguai_youbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,345},{50,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,45}</string>
			</dict>
			<key>bingguai/bingguai_youer.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,155},{22,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,38}</string>
			</dict>
			<key>bingguai/bingguai_youjiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{32,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,35}</string>
			</dict>
			<key>bingguai/bingguai_youshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,345},{62,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,47}</string>
			</dict>
			<key>bingguai/bingguai_youtui.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,407},{52,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,56}</string>
			</dict>
			<key>bingguai/bingguai_zuoer.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,217},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>
			<key>bingguai/bingguai_zuojiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,177},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>bingguai/bingguai_zuoshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{73,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,89}</string>
			</dict>
			<key>bingguai/bingguai_zuotui.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,217},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ditu05packer.csi.png</string>
			<key>realTextureFileName</key>
			<string>ditu05packer.csi.png</string>
			<key>size</key>
			<string>{171,463}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>171</integer>
			<key>height</key>
			<integer>463</integer>
		</dict>
	</dict>
</plist>