<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shandiangou/shandiangou_chibang/shandiangou_chibang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{89,129}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,161}</string>
			</dict>
			<key>shandiangou/shandiangou_chibang/shandiangou_chibang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{87,98}}</string>
				<key>offset</key>
				<string>{-3,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,161}</string>
			</dict>
			<key>shandiangou/shandiangou_chibang/shandiangou_chibang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,316},{83,55}}</string>
				<key>offset</key>
				<string>{-6,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,161}</string>
			</dict>
			<key>shandiangou/shandiangou_chibang/shandiangou_chibang_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,227},{84,89}}</string>
				<key>offset</key>
				<string>{-4,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,161}</string>
			</dict>
			<key>shandiangou/shandiangou_chibang/shandiangou_chibang_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,497},{72,80}}</string>
				<key>offset</key>
				<string>{-10,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,161}</string>
			</dict>
			<key>shandiangou/shandiangou_chibang/shandiangou_chibang_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,404},{90,58}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,161}</string>
			</dict>
			<key>shandiangou/shandiangou_dian/shandiangou_dian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,129},{33,80}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,106}</string>
			</dict>
			<key>shandiangou/shandiangou_dian/shandiangou_dian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,161},{32,46}}</string>
				<key>offset</key>
				<string>{4,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>shandiangou/shandiangou_dian/shandiangou_dian3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{69,93}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,106}</string>
			</dict>
			<key>shandiangou/shandiangou_qiantui_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,115},{26,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>
			<key>shandiangou/shandiangou_qiantui_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,277},{36,44}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,58}</string>
			</dict>
			<key>shandiangou/shandiangou_shenti.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,227},{78,45}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,54}</string>
			</dict>
			<key>shandiangou/shandiangou_tou.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,316},{88,75}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,81}</string>
			</dict>
			<key>shandiangou/shandiangou_weiba/shandiangou_weiba1.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,57},{49,42}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,85}</string>
			</dict>
			<key>shandiangou/shandiangou_weiba/shandiangou_weiba2.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,0},{55,28}}</string>
				<key>offset</key>
				<string>{2,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,85}</string>
			</dict>
			<key>shandiangou/shandiangou_weiba/shandiangou_weiba3.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,226},{51,45}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,85}</string>
			</dict>
			<key>shandiangou/shandiangou_weiba/shandiangou_weiba4.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,0},{40,57}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,85}</string>
			</dict>
			<key>shandiangou/shandiangou_yanjing.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,55},{54,27}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,41}</string>
			</dict>
			<key>shandiangou/shandiangou_yanjing_biyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,209},{55,17}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,41}</string>
			</dict>
			<key>shandiangou/shandiangou_youerduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,0},{35,36}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,46}</string>
			</dict>
			<key>shandiangou/shandiangou_zuoerduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,82},{33,32}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,43}</string>
			</dict>
			<key>shandiangou/shandiangou_houtui_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,147},{26,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>shandiangou/shandiangou_houtui_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,106},{28,55}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,63}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ditu10packer.png</string>
			<key>realTextureFileName</key>
			<string>ditu10packer.png</string>
			<key>size</key>
			<string>{192,577}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>192</integer>
			<key>height</key>
			<integer>577</integer>
		</dict>
	</dict>
</plist>