<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,114},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,53},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,53},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,53},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,53},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,53},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,53},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,89},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,89},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,89},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,89},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,89},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,123},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,106},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,116},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,184},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,220},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,270},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,286},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,106},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,106},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,106},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,106},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,142},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,142},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,142},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,142},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,125},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_dizuo/xianrenzhang_dizuo_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,125},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,161},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,176},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,161},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,161},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,159},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,159},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,159},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,159},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,193},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,202},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,202},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,202},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,202},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,236},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,204},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,204},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,204},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,204},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,245},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,245},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,245},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,245},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,279},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,178},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,186},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,178},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,178},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,178},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,178},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_hua/xianrenzhang_you_hua_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,178},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,61},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,127},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,111},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,0},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,53},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,63},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,114},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,164},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,167},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,217},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,233},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,53},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,53},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,53},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,53},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_hua/xianrenzhang_zuo_hua_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,53},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_bozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,61},{47,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,25}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_ci.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,103},{28,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,25}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_lian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{61,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,76}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_lian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,0},{61,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,76}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_shenti.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,61},{50,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,69}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_tou.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,74}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_yanjing.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,125},{71,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,34}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_yanjing_banzheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,125},{71,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,34}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_yanjing_biyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,125},{71,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,34}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_erduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,159},{53,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,45}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_gebo_shang.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,128},{26,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,23}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_you_gebo_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,204},{35,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,38}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_erduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,0},{65,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_gebo.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,242},{38,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,35}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_shou.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,74},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>xianrenzhang/xianrenzhang_zuo_shou_xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,219},{39,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ditu03packer.png</string>
			<key>realTextureFileName</key>
			<string>ditu03packer.png</string>
			<key>size</key>
			<string>{1020,356}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>356</integer>
		</dict>
	</dict>
</plist>