<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss10hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1017},{197,166}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{197,166}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>boss1hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1496},{93,162}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{93,162}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>boss2hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1555},{127,160}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{127,160}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>boss3hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1478},{133,162}}</string>
                <key>offset</key>
                <string>{-22,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{133,162}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>boss4hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{143,164}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{143,164}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>boss5hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1220},{167,162}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{167,162}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>boss6hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{137,154}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{137,154}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>boss7hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1185},{183,146}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{183,146}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>boss8hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1613},{131,158}}</string>
                <key>offset</key>
                <string>{-31,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{131,158}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>boss9hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1746},{143,142}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{143,142}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>bosstext.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,621},{55,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,14}}</string>
                <key>sourceSize</key>
                <string>{55,14}</string>
            </dict>
            <key>bp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,665},{25,23}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>bp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,984},{25,17}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{25,17}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>bp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1003},{35,17}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>buypropclock.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1653},{129,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{129,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>buypropprompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1386},{151,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{151,122}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>buyproprefresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1363},{115,142}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{115,142}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>chapterbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1070},{125,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,39}}</string>
                <key>sourceSize</key>
                <string>{125,39}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1660},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>clock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1727},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>combo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{228,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,63}}</string>
                <key>sourceSize</key>
                <string>{228,63}</string>
            </dict>
            <key>combo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1255},{89,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,35}}</string>
                <key>sourceSize</key>
                <string>{89,35}</string>
            </dict>
            <key>combo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1295},{100,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
            <key>combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1109},{144,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,38}}</string>
                <key>sourceSize</key>
                <string>{144,38}</string>
            </dict>
            <key>combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1197},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
            <key>combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1175},{215,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,35}}</string>
                <key>sourceSize</key>
                <string>{215,35}</string>
            </dict>
            <key>gamedi.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1185},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>gamefailtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{274,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,85}}</string>
                <key>sourceSize</key>
                <string>{274,85}</string>
            </dict>
            <key>gameguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1175},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>gamesucctext.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,896},{273,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,86}}</string>
                <key>sourceSize</key>
                <string>{273,86}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1220},{157,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,89}}</string>
                <key>sourceSize</key>
                <string>{157,89}</string>
            </dict>
            <key>guidegameblocks.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,665},{368,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,229}}</string>
                <key>sourceSize</key>
                <string>{368,229}</string>
            </dict>
            <key>guidehero.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1510},{141,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,145}}</string>
                <key>sourceSize</key>
                <string>{141,145}</string>
            </dict>
            <key>guideline1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1195},{98,107}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,107}}</string>
                <key>sourceSize</key>
                <string>{100,109}</string>
            </dict>
            <key>guideline2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1379},{83,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,128}}</string>
                <key>sourceSize</key>
                <string>{83,128}</string>
            </dict>
            <key>guideline3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{324,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,212}}</string>
                <key>sourceSize</key>
                <string>{324,212}</string>
            </dict>
            <key>guidesj.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1728},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>guidetextbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,544},{418,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,119}}</string>
                <key>sourceSize</key>
                <string>{418,119}</string>
            </dict>
            <key>hintbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1122},{240,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,96}}</string>
                <key>sourceSize</key>
                <string>{240,96}</string>
            </dict>
            <key>icetime.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{540,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,104}}</string>
                <key>sourceSize</key>
                <string>{540,104}</string>
            </dict>
            <key>pausebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,637},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1652},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>propnumbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1212},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,838},{355,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,107}}</string>
                <key>sourceSize</key>
                <string>{355,107}</string>
            </dict>
            <key>ready1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1507},{79,143}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,143}}</string>
                <key>sourceSize</key>
                <string>{81,147}</string>
            </dict>
            <key>ready2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,690},{108,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,146}}</string>
                <key>sourceSize</key>
                <string>{108,146}</string>
            </dict>
            <key>ready3.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,896},{107,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,147}}</string>
                <key>sourceSize</key>
                <string>{107,147}</string>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,544},{58,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>refreshword.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,984},{246,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,136}}</string>
                <key>sourceSize</key>
                <string>{246,136}</string>
            </dict>
            <key>runlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1890},{140,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>sadd1stext.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1028},{79,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,42}}</string>
                <key>sourceSize</key>
                <string>{79,42}</string>
            </dict>
            <key>saddtimetext.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{171,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,32}}</string>
                <key>sourceSize</key>
                <string>{171,32}</string>
            </dict>
            <key>showtextbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{540,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,117}}</string>
                <key>sourceSize</key>
                <string>{540,117}</string>
            </dict>
            <key>starpos.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,665},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>timebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1091},{231,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{231,17}}</string>
                <key>sourceSize</key>
                <string>{233,19}</string>
            </dict>
            <key>timebarbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{233,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,19}}</string>
                <key>sourceSize</key>
                <string>{233,19}</string>
            </dict>
            <key>timebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,983},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>timestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1245},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>timestarbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1307},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>timeuptext.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,769},{205,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,78}}</string>
                <key>sourceSize</key>
                <string>{205,78}</string>
            </dict>
            <key>topbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{540,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,58}}</string>
                <key>sourceSize</key>
                <string>{540,58}</string>
            </dict>
            <key>transitionbg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>transitionprogress.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1277},{28,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>vsboss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1332},{93,162}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{93,162}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>vsboss10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,849},{197,166}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{197,166}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>vsboss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1519},{127,160}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,21},{127,160}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>vsboss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1384},{133,162}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{133,162}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>vsboss4.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1333},{143,164}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{143,164}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>vsboss5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{167,162}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{167,162}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>vsboss6.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1045},{137,154}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{137,154}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>vsboss7.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1201},{183,146}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{183,146}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>vsboss8.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1509},{131,158}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{131,158}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
            <key>vsboss9.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1648},{143,142}}</string>
                <key>offset</key>
                <string>{-26,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{143,142}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac770e67ab32a12d9bc2dbc6811e7a2c:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
