<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tuzi/tuzi_yanlei_you/tuzi_yanlei_you_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,277},{480,271}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>tuzi/tuzi_yanlei_you/tuzi_yanlei_you_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,0},{486,277}}</string>
				<key>offset</key>
				<string>{-2,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>tuzi/tuzi_yanlei_you/tuzi_yanlei_you_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{492,296}}</string>
				<key>offset</key>
				<string>{2,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>tuzi/tuzi_yanlei_zuo/tuzi_yanlei_zuo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,548},{322,280}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>tuzi/tuzi_yanlei_zuo/tuzi_yanlei_zuo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,620},{333,311}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>tuzi/tuzi_yanlei_zuo/tuzi_yanlei_zuo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,296},{328,324}}</string>
				<key>offset</key>
				<string>{3,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>tuzi/tuzi_erduo_you_shang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,571},{65,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,59}</string>
			</dict>
			<key>tuzi/tuzi_erduo_you_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,74},{58,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,40}</string>
			</dict>
			<key>tuzi/tuzi_erduo_you_xia_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,0},{39,74}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,88}</string>
			</dict>
			<key>tuzi/tuzi_erduo_zuo_shang.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,411},{74,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,50}</string>
			</dict>
			<key>tuzi/tuzi_erduo_zuo_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,132},{39,54}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,54}</string>
			</dict>
			<key>tuzi/tuzi_huluobo.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,306},{51,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,105}</string>
			</dict>
			<key>tuzi/tuzi_huluobo_yezi.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,611},{28,33}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>tuzi/tuzi_pifeng_hou.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,401},{115,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,109}</string>
			</dict>
			<key>tuzi/tuzi_pifeng_qian.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,630},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>tuzi/tuzi_pifeng_qian_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,265},{10,10}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,12}</string>
			</dict>
			<key>tuzi/tuzi_pifeng_qian_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,275},{9,9}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,9}</string>
			</dict>
			<key>tuzi/tuzi_shenti_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,510},{61,95}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,96}</string>
			</dict>
			<key>tuzi/tuzi_shenti_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,520},{61,95}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,96}</string>
			</dict>
			<key>tuzi/tuzi_tou.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,296},{121,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,105}</string>
			</dict>
			<key>tuzi/tuzi_yanjing.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,246},{60,31}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,33}</string>
			</dict>
			<key>tuzi/tuzi_yanjing_banzheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,186},{60,32}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,33}</string>
			</dict>
			<key>tuzi/tuzi_yanjing_biyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,186},{60,13}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,33}</string>
			</dict>
			<key>tuzi/tuzi_yanjing_ku.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,403},{51,23}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,44}</string>
			</dict>
			<key>tuzi/tuzi_youbi_shang.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,494},{26,41}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,43}</string>
			</dict>
			<key>tuzi/tuzi_youbi_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,447},{24,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,47}</string>
			</dict>
			<key>tuzi/tuzi_youjiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,296},{31,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,40}</string>
			</dict>
			<key>tuzi/tuzi_youtui.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,485},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,42}</string>
			</dict>
			<key>tuzi/tuzi_zui.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,519},{42,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,31}</string>
			</dict>
			<key>tuzi/tuzi_zui_shang.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,454},{24,17}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,23}</string>
			</dict>
			<key>tuzi/tuzi_zui_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,246},{19,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,21}</string>
			</dict>
			<key>tuzi/tuzi_zuobi_shang.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,403},{26,44}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,46}</string>
			</dict>
			<key>tuzi/tuzi_zuobi_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,358},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,45}</string>
			</dict>
			<key>tuzi/tuzi_zuojiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,327},{31,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,40}</string>
			</dict>
			<key>tuzi/tuzi_zuotui.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,571},{26,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>heropacker.png</string>
			<key>realTextureFileName</key>
			<string>heropacker.png</string>
			<key>size</key>
			<string>{1023,953}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>953</integer>
		</dict>
	</dict>
</plist>