<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coming.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,961}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,961}}</string>
                <key>sourceSize</key>
                <string>{540,961}</string>
            </dict>
            <key>here.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,827},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>here_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1007},{170,140}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,34},{170,140}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,777},{238,192}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,8},{238,192}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim11.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,629},{244,196}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{244,196}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim12.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,971},{198,160}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{198,160}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1133},{192,154}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,28},{192,154}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1235},{190,152}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,28},{190,152}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1134},{182,150}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,29},{182,150}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1007},{196,160}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{196,160}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{204,166}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,21},{204,166}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,960},{212,172}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,18},{212,172}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim6.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,827},{220,178}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,15},{220,178}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim7.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,544},{226,182}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{226,182}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim8.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,772},{232,186}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,11},{232,186}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>here_anim9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{240,192}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{240,192}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>hereblank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,73},{1,1}}</string>
                <key>offset</key>
                <string>{-36.5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>herebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,353},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>sboss0.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,291},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>sboss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,229},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>stage0.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,177},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>stage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,125},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>stage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,73},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>stageblank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,73},{1,1}}</string>
                <key>offset</key>
                <string>{-35,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
            <key>star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,417},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,397},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>themebackbtn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,914},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>unlockbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,397},{88,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,27}}</string>
                <key>sourceSize</key>
                <string>{88,27}</string>
            </dict>
            <key>unlocktext.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,544},{292,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,83}}</string>
                <key>sourceSize</key>
                <string>{292,83}</string>
            </dict>
            <key>updatebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1139},{192,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,94}}</string>
                <key>sourceSize</key>
                <string>{192,94}</string>
            </dict>
            <key>yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{540,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,231}}</string>
                <key>sourceSize</key>
                <string>{540,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ace1a3c221b37afb2bfc98601ffe466:1/1$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
