<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1151},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1151},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1151},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1005},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1005},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,656},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/DiamondsLight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,733},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,726},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,668},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,668},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,733},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,668},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,733},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,802},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,802},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,802},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,802},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,802},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/achievebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,860},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>UI/achievepropbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,668},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>UI/achievetitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1257},{83,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,36}}</string>
                <key>sourceSize</key>
                <string>{83,36}</string>
            </dict>
            <key>UI/action1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,957},{483,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,484}}</string>
                <key>sourceSize</key>
                <string>{483,484}</string>
            </dict>
            <key>UI/action2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,726}}</string>
                <key>sourceSize</key>
                <string>{540,726}</string>
            </dict>
            <key>UI/action3.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,860},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>UI/bigheart.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,547},{116,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,107}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>UI/bjdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,43},{240,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,76}}</string>
                <key>sourceSize</key>
                <string>{240,76}</string>
            </dict>
            <key>UI/bluebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,384},{178,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,81}}</string>
                <key>sourceSize</key>
                <string>{178,81}</string>
            </dict>
            <key>UI/blxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,148},{231,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,25}}</string>
                <key>sourceSize</key>
                <string>{231,25}</string>
            </dict>
            <key>UI/boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,860},{91,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{91,106}</string>
            </dict>
            <key>UI/bossranktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1115},{140,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,36}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>UI/bosstz.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,467},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>UI/buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,452},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>UI/buydesc0.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1036},{77,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,38}}</string>
                <key>sourceSize</key>
                <string>{77,38}</string>
            </dict>
            <key>UI/buydesc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,957},{77,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,38}}</string>
                <key>sourceSize</key>
                <string>{77,38}</string>
            </dict>
            <key>UI/buydesc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,812},{143,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>UI/buylight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{488,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,459}}</string>
                <key>sourceSize</key>
                <string>{488,459}</string>
            </dict>
            <key>UI/buyproptitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,496},{160,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,41}}</string>
                <key>sourceSize</key>
                <string>{160,41}</string>
            </dict>
            <key>UI/cktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,505},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>UI/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,860},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>UI/continuegametext.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,658},{152,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,38}}</string>
                <key>sourceSize</key>
                <string>{152,38}</string>
            </dict>
            <key>UI/diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,445},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>UI/dik.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,502},{356,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,68}}</string>
                <key>sourceSize</key>
                <string>{356,68}</string>
            </dict>
            <key>UI/dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{261,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,39}}</string>
                <key>sourceSize</key>
                <string>{261,39}</string>
            </dict>
            <key>UI/dy.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,43},{70,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,19}}</string>
                <key>sourceSize</key>
                <string>{70,19}</string>
            </dict>
            <key>UI/exittext.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1342},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>UI/failtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,175},{230,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,112}}</string>
                <key>sourceSize</key>
                <string>{230,112}</string>
            </dict>
            <key>UI/freetext.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,547},{74,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,23}}</string>
                <key>sourceSize</key>
                <string>{74,23}</string>
            </dict>
            <key>UI/greenbtnbig.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,289},{210,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,93}}</string>
                <key>sourceSize</key>
                <string>{210,93}</string>
            </dict>
            <key>UI/jl.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,289},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>UI/oktext.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,345},{105,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,46}}</string>
                <key>sourceSize</key>
                <string>{105,46}</string>
            </dict>
            <key>UI/propbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,544},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>UI/seplinelong.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,115},{452,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,2}}</string>
                <key>sourceSize</key>
                <string>{452,2}</string>
            </dict>
            <key>UI/xdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{341,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,29}}</string>
                <key>sourceSize</key>
                <string>{341,29}</string>
            </dict>
            <key>UI/zuidxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,121},{231,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,25}}</string>
                <key>sourceSize</key>
                <string>{231,25}</string>
            </dict>
            <key>UI/zuigfs.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,345},{98,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,25}}</string>
                <key>sourceSize</key>
                <string>{98,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55e2916421ea4e0ced83326a7656f04e:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
