<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/GoldLight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1372},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/GoldLight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1491},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/GoldLight_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1611},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/GoldLight_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1829},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/GoldLight_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1768},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/GoldLight_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1707},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/GoldLight_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1430},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/GoldLight_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1646},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/GoldLight_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1120},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/GoldLight_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1121},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/GoldLight_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1123},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/GoldLight_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1125},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/Lottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1029},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>UI/action2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{540,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,726}}</string>
                <key>sourceSize</key>
                <string>{540,726}</string>
            </dict>
            <key>UI/failgiftbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,740},{447,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,121}}</string>
                <key>sourceSize</key>
                <string>{447,121}</string>
            </dict>
            <key>UI/failgiftbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1342},{107,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,50}}</string>
                <key>sourceSize</key>
                <string>{107,50}</string>
            </dict>
            <key>UI/giftbthlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1711},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>UI/gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1125},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>UI/growUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1922},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>UI/growbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{520,711}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,711}}</string>
                <key>sourceSize</key>
                <string>{520,711}</string>
            </dict>
            <key>UI/growdescbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,715},{408,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,121}}</string>
                <key>sourceSize</key>
                <string>{408,121}</string>
            </dict>
            <key>UI/growupstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1433},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>UI/growupstarbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1433},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>UI/growuptext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1029},{94,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,40}}</string>
                <key>sourceSize</key>
                <string>{94,40}</string>
            </dict>
            <key>UI/hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1337},{58,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>UI/hpbuytext.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,715},{135,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,23}}</string>
                <key>sourceSize</key>
                <string>{135,23}</string>
            </dict>
            <key>UI/hpbuytitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1189},{230,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,46}}</string>
                <key>sourceSize</key>
                <string>{230,46}</string>
            </dict>
            <key>UI/hpmaxtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1162},{94,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,25}}</string>
                <key>sourceSize</key>
                <string>{94,25}</string>
            </dict>
            <key>UI/hprecoverytext.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1189},{187,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,19}}</string>
                <key>sourceSize</key>
                <string>{187,19}</string>
            </dict>
            <key>UI/hprecoverytimebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1944},{96,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,40}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
            <key>UI/hpuptext.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1162},{138,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,25}}</string>
                <key>sourceSize</key>
                <string>{138,25}</string>
            </dict>
            <key>UI/leveluptext.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1337},{91,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,46}}</string>
                <key>sourceSize</key>
                <string>{91,46}</string>
            </dict>
            <key>UI/logingetedtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1963},{82,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,46}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
            <key>UI/loginisgettext.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1189},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>UI/loginreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1963},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>UI/loginrewardbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,736}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,736}}</string>
                <key>sourceSize</key>
                <string>{520,736}</string>
            </dict>
            <key>UI/loginrewarddaytext.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,715},{57,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,23}}</string>
                <key>sourceSize</key>
                <string>{57,23}</string>
            </dict>
            <key>UI/loginrewardget.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1351},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>UI/loginrewarditem0.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1572},{118,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,137}}</string>
                <key>sourceSize</key>
                <string>{118,137}</string>
            </dict>
            <key>UI/loginrewarditem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1186},{124,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,139}}</string>
                <key>sourceSize</key>
                <string>{124,139}</string>
            </dict>
            <key>UI/loginrewarditem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1184},{118,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,137}}</string>
                <key>sourceSize</key>
                <string>{118,137}</string>
            </dict>
            <key>UI/loginrewarditem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1433},{118,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,137}}</string>
                <key>sourceSize</key>
                <string>{118,137}</string>
            </dict>
            <key>UI/loginrewardtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1944},{311,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,99}}</string>
                <key>sourceSize</key>
                <string>{311,99}</string>
            </dict>
            <key>UI/loginrewardtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1189},{145,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,36}}</string>
                <key>sourceSize</key>
                <string>{145,36}</string>
            </dict>
            <key>UI/loginrewardtuz.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1189},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>UI/lottery5text.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1433},{110,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
            <key>UI/lotteryDisk.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1468},{474,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,474}}</string>
                <key>sourceSize</key>
                <string>{474,474}</string>
            </dict>
            <key>UI/lotteryPointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,715},{312,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,312}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>UI/lotterychangetext.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1433},{76,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,27}}</string>
                <key>sourceSize</key>
                <string>{76,27}</string>
            </dict>
            <key>UI/lotterystar.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,737},{423,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,161}}</string>
                <key>sourceSize</key>
                <string>{423,161}</string>
            </dict>
            <key>UI/lotterytext.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1433},{59,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,27}}</string>
                <key>sourceSize</key>
                <string>{59,27}</string>
            </dict>
            <key>UI/lotterywintext.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1191},{240,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,93}}</string>
                <key>sourceSize</key>
                <string>{240,93}</string>
            </dict>
            <key>UI/lqhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1029},{92,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,45}}</string>
                <key>sourceSize</key>
                <string>{92,45}</string>
            </dict>
            <key>UI/medal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1842},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>UI/medal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1842},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>UI/medal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1842},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>UI/morebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1029},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>UI/morehomebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1922},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>UI/myrankitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,740},{449,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,86}}</string>
                <key>sourceSize</key>
                <string>{449,86}</string>
            </dict>
            <key>UI/newerdesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1963},{286,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,78}}</string>
                <key>sourceSize</key>
                <string>{286,78}</string>
            </dict>
            <key>UI/offbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1327},{105,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,43}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>UI/offtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1433},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>UI/onbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1385},{105,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,43}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>UI/ontext.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,715},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>UI/passmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1189},{151,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,37}}</string>
                <key>sourceSize</key>
                <string>{151,37}</string>
            </dict>
            <key>UI/pausebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{493,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,434}}</string>
                <key>sourceSize</key>
                <string>{493,434}</string>
            </dict>
            <key>UI/pausebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1189},{204,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,46}}</string>
                <key>sourceSize</key>
                <string>{204,46}</string>
            </dict>
            <key>UI/pausetext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1430},{107,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,41}}</string>
                <key>sourceSize</key>
                <string>{107,41}</string>
            </dict>
            <key>UI/rankbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1963},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>UI/ranktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1539},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>UI/sharebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1539},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>UI/taskbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1963},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>UI/tasktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1394},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
            <key>UI/winbosstext.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1395},{161,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,36}}</string>
                <key>sourceSize</key>
                <string>{161,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cd6136bc0ce070e0f98a3e043068b04:1/1$</string>
            <key>textureFileName</key>
            <string>ui1.png</string>
        </dict>
    </dict>
</plist>
