<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/Saoguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1673},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/Saoguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1616},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/Saoguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1536},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/Saoguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1670},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/Saoguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1593},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/Saoguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1590},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/Saoguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1513},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/Saoguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1495},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/Saoguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1433},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/Saoguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1353},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/Saoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1277},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/Saoguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,586},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>UI/chgjs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,600}}</string>
                <key>sourceSize</key>
                <string>{580,600}</string>
            </dict>
            <key>UI/giftclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1212},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>UI/giftcloseclear.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1147},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>UI/giftdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,669},{491,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,476}}</string>
                <key>sourceSize</key>
                <string>{491,476}</string>
            </dict>
            <key>UI/giftdt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{452,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,525}}</string>
                <key>sourceSize</key>
                <string>{452,525}</string>
            </dict>
            <key>UI/giftpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1390},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>UI/gohometext.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1494},{156,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,39}}</string>
                <key>sourceSize</key>
                <string>{156,39}</string>
            </dict>
            <key>UI/loginqqbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1307},{178,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,81}}</string>
                <key>sourceSize</key>
                <string>{178,81}</string>
            </dict>
            <key>UI/loginwxbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,586},{178,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,81}}</string>
                <key>sourceSize</key>
                <string>{178,81}</string>
            </dict>
            <key>UI/lvmaxtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1542},{136,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,46}}</string>
                <key>sourceSize</key>
                <string>{136,46}</string>
            </dict>
            <key>UI/numBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1535},{153,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,46}}</string>
                <key>sourceSize</key>
                <string>{153,46}</string>
            </dict>
            <key>UI/okbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1400},{208,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,93}}</string>
                <key>sourceSize</key>
                <string>{208,93}</string>
            </dict>
            <key>UI/passstagebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{493,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,391}}</string>
                <key>sourceSize</key>
                <string>{493,391}</string>
            </dict>
            <key>UI/passstagebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>UI/renewtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{156,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{156,40}</string>
            </dict>
            <key>UI/rprop100.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1670},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>UI/rprop101.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1590},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>UI/rprop102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1695},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>UI/rprop103.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,586},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>UI/rprop104.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1670},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>UI/rprop105.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1590},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>UI/rprop106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1695},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>UI/rprop107.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,586},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>UI/s1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1781},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>UI/s2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1756},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>UI/s3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1752},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>UI/s4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1750},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>UI/s5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1676},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>UI/s6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1357},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>UI/s_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1307},{235,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,91}}</string>
                <key>sourceSize</key>
                <string>{235,91}</string>
            </dict>
            <key>UI/second.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1656},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>UI/selectFream.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1038},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>UI/sepline.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,27},{474,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,4}}</string>
                <key>sourceSize</key>
                <string>{474,4}</string>
            </dict>
            <key>UI/settinexchangebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,497},{273,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,46}}</string>
                <key>sourceSize</key>
                <string>{273,46}</string>
            </dict>
            <key>UI/setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1536},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>UI/settingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{454,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,456}}</string>
                <key>sourceSize</key>
                <string>{454,456}</string>
            </dict>
            <key>UI/settinggetbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1640},{71,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,43}}</string>
                <key>sourceSize</key>
                <string>{71,43}</string>
            </dict>
            <key>UI/settinggettext.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1583},{92,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,45}}</string>
                <key>sourceSize</key>
                <string>{92,45}</string>
            </dict>
            <key>UI/settinghead.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1621},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>UI/settingheadbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1558},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>UI/settingidbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1495},{157,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,39}}</string>
                <key>sourceSize</key>
                <string>{157,39}</string>
            </dict>
            <key>UI/settingmotifybtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1583},{71,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,43}}</string>
                <key>sourceSize</key>
                <string>{71,43}</string>
            </dict>
            <key>UI/settingmusic.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1169},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>UI/settingmusicoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1103},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>UI/settingnamebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,545},{249,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,39}}</string>
                <key>sourceSize</key>
                <string>{249,39}</string>
            </dict>
            <key>UI/settingoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI/settingsound.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1294},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,57}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>UI/settingsoundoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1235},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,57}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>UI/settingtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1630},{88,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,38}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
            <key>UI/shopgreebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{105,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>UI/stageleaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,497},{114,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,170}}</string>
                <key>sourceSize</key>
                <string>{114,170}</string>
            </dict>
            <key>UI/stagerankbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1147},{428,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,158}}</string>
                <key>sourceSize</key>
                <string>{428,158}</string>
            </dict>
            <key>UI/stagerankitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1433},{135,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,85}}</string>
                <key>sourceSize</key>
                <string>{135,85}</string>
            </dict>
            <key>UI/stageranksep.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,27},{2,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,81}}</string>
                <key>sourceSize</key>
                <string>{2,81}</string>
            </dict>
            <key>UI/stageranktag.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1536},{102,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,48}}</string>
                <key>sourceSize</key>
                <string>{102,48}</string>
            </dict>
            <key>UI/yilqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1494},{137,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,46}}</string>
                <key>sourceSize</key>
                <string>{137,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71517875b8114758185de93d53542598:1/1$</string>
            <key>textureFileName</key>
            <string>ui3.png</string>
        </dict>
    </dict>
</plist>
