<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/clasicbestdesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1548},{475,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,18}}</string>
                <key>sourceSize</key>
                <string>{475,18}</string>
            </dict>
            <key>UI/clasicbesticon.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1497},{143,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,116}}</string>
                <key>sourceSize</key>
                <string>{143,116}</string>
            </dict>
            <key>UI/clasicbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,855},{91,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{91,106}</string>
            </dict>
            <key>UI/clasicdesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1943},{375,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,79}}</string>
                <key>sourceSize</key>
                <string>{375,79}</string>
            </dict>
            <key>UI/clasicranktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,741},{140,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,36}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>UI/clasicscoretext.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1860},{277,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,81}}</string>
                <key>sourceSize</key>
                <string>{277,81}</string>
            </dict>
            <key>UI/clasicsharetext.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1975},{93,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,41}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>UI/clasictext.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,741},{140,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,36}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>UI/clasictitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,741},{140,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,36}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>UI/continuetext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,577},{163,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,40}}</string>
                <key>sourceSize</key>
                <string>{163,40}</string>
            </dict>
            <key>UI/envent0.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1497},{503,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,528}}</string>
                <key>sourceSize</key>
                <string>{503,528}</string>
            </dict>
            <key>UI/envent1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{516,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,582}}</string>
                <key>sourceSize</key>
                <string>{516,582}</string>
            </dict>
            <key>UI/envent2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,964},{503,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,531}}</string>
                <key>sourceSize</key>
                <string>{503,531}</string>
            </dict>
            <key>UI/envent3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,964},{503,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,531}}</string>
                <key>sourceSize</key>
                <string>{503,531}</string>
            </dict>
            <key>UI/enventbg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>UI/enventbtn0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,628},{109,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,112}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>UI/enventbtn0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,517},{109,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,112}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>UI/enventbtn1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,583},{109,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,112}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>UI/enventbtn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,517},{109,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,112}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>UI/enventbtn2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,741},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>UI/enventbtn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,741},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>UI/enventbtn3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,471},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>UI/enventbtn3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1748},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>UI/enventgetbtntext.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1943},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>UI/enventitembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,283},{119,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,153}}</string>
                <key>sourceSize</key>
                <string>{119,153}</string>
            </dict>
            <key>UI/enventmc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2024},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>UI/enventmc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2024},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>UI/enventmc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2024},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>UI/envetnbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,855},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>UI/eventfinishbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2024},{203,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,21}}</string>
                <key>sourceSize</key>
                <string>{203,21}</string>
            </dict>
            <key>UI/eventfinishbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2025},{203,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,21}}</string>
                <key>sourceSize</key>
                <string>{203,21}</string>
            </dict>
            <key>UI/eventgifticon.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1541},{189,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,223}}</string>
                <key>sourceSize</key>
                <string>{189,223}</string>
            </dict>
            <key>UI/eventgiftlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,236},{279,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,279}}</string>
                <key>sourceSize</key>
                <string>{279,279}</string>
            </dict>
            <key>UI/eventtitle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,525},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>UI/eventtitle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,283},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>UI/flashbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1766},{91,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{91,106}</string>
            </dict>
            <key>UI/flashranktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,741},{139,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,36}}</string>
                <key>sourceSize</key>
                <string>{139,36}</string>
            </dict>
            <key>UI/flashtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,741},{140,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,36}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>UI/flashtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,882},{139,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,36}}</string>
                <key>sourceSize</key>
                <string>{139,36}</string>
            </dict>
            <key>UI/mdetailbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1548},{393,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,265}}</string>
                <key>sourceSize</key>
                <string>{393,265}</string>
            </dict>
            <key>UI/messagebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,628},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>UI/messagetitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1766},{81,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,36}}</string>
                <key>sourceSize</key>
                <string>{81,36}</string>
            </dict>
            <key>UI/mgetbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,883},{125,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,57}}</string>
                <key>sourceSize</key>
                <string>{125,57}</string>
            </dict>
            <key>UI/micon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1943},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>UI/micon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,883},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>UI/modifynamehereo.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,741},{125,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,139}}</string>
                <key>sourceSize</key>
                <string>{125,139}</string>
            </dict>
            <key>UI/modifynameinputbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{329,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,68}}</string>
                <key>sourceSize</key>
                <string>{329,68}</string>
            </dict>
            <key>UI/modifynameokbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,619},{160,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,79}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>UI/modifynamepenbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1497},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>UI/modifynametitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,577},{135,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,38}}</string>
                <key>sourceSize</key>
                <string>{135,38}</string>
            </dict>
            <key>UI/morebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,72},{327,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,209}}</string>
                <key>sourceSize</key>
                <string>{327,209}</string>
            </dict>
            <key>UI/morechallegebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,30},{204,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,215}}</string>
                <key>sourceSize</key>
                <string>{204,215}</string>
            </dict>
            <key>UI/morecmbtn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1642},{114,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,104}</string>
            </dict>
            <key>UI/morecmbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,694},{111,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,93}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
            <key>UI/smallerbgbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{493,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,333}}</string>
                <key>sourceSize</key>
                <string>{493,333}</string>
            </dict>
            <key>UI/unlocknumdesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,2},{242,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,26}}</string>
                <key>sourceSize</key>
                <string>{242,26}</string>
            </dict>
            <key>UI/unlocktext1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,438},{119,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,31}}</string>
                <key>sourceSize</key>
                <string>{119,31}</string>
            </dict>
            <key>UI/unlocktext2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,2},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>UI/unlocktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,700},{151,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,39}}</string>
                <key>sourceSize</key>
                <string>{151,39}</string>
            </dict>
            <key>UI/waitingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1497},{233,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,42}}</string>
                <key>sourceSize</key>
                <string>{233,42}</string>
            </dict>
            <key>UI/waitingprogress.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1804},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>UI/xline.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2027},{63,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,8}}</string>
                <key>sourceSize</key>
                <string>{63,8}</string>
            </dict>
            <key>UI/yuanrmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2027},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>UI/zkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,336},{187,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,203}}</string>
                <key>sourceSize</key>
                <string>{187,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecf2b52822a36f34b1656ca033565f94:1/1$</string>
            <key>textureFileName</key>
            <string>ui5.png</string>
        </dict>
    </dict>
</plist>
